
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #66c8d5;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 21px;
    font-size: 20px;
    padding-bottom: 15px;
}
i{
    padding-left: 10px;
}
i.fa-solid.fa-backward-step{
    color: teal;
}
i.fa-solid.fa-forward-step{
    color: teal;
}
i.fa-solid.fa-circle-pause.pause {
    display: none;
    font-size: 40px;
    color: slategray;
}
i.fa-sharp.fa-solid.fa-circle-play {
    display: block;
    font-size: 40px;
    color: slategray;
}
h1{
    padding-top: 5px;
    text-align: center;
    font-size: 19px;
}
h2{
    padding-bottom: 54px;
    text-align: center;
    color: slategray;
}
input.duration {
    height: 4px;
    width: 181px;
    margin-top: 50px;
}
.duration::-moz-range-thumb{
    box-shadow: 0px 0px 0px #ece9e9;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}
span.current {
    font-size: 17px;
    padding-left: 70px;
}
span.total-time{
    font-size: 17px;
}
marquee{
    padding-top: 5px;
}
img {
    height: 280px;
    width: 100%;
    animation: rotation 30s infinite linear;
    clip-path: circle(40%)
}
@keyframes rotation{
    to{
        transform: rotate(359deg);
    }
}
.shows{
    color: rgb(41, 41, 41);
}
.sound{
    opacity: 1.0;
}
.maincontainer {
    height: 630px;
    width: 30%;
    display: inline-flex;
    align-items: center;
    background-color: peachpuff;
    margin: 10px 0px 0px 458px;
    box-shadow: -2px -1px 9px 1px peachpuff;
    border-radius: 7px;
}
p {
    float: right;
}
